In [9]:
a=20
b=4
a &b



a|b


a^b

16

In [10]:
bin(10)

'0b1010'

# control structures
* squential control
* selection control
* iterative control

In [11]:
print('hello')
print('welcome')
print('welcome to ashu')

hello
welcome
welcome to ashu

In [15]:
var=int(input('enter the integer value'))
if var<10:
    print("value is less than 10")
else:
    print('vale is greater than 10')

enter the integer value25
vale is greater than 10

In [21]:
var=0
while var<10:
    print(var)
    var=var+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
* selection control statement
if condition:
    action
else:
    action

In [30]:
marks=int(input("enter your marks in maths:"))

if marks>35:
    print("you are pass")
else: 
    print('sorry you are fail')
print("thank you")

enter your marks in maths:35
sorry you are fail
thank you

In [32]:
marks=int(input("enter the marks :"))
if marks==100:
    print("perfect score")
print("thank you")

enter the marks :100
perfect score
thank you

In [33]:
marks=int(input("enter the marks :"))
if marks==100:
    print("perfect score")
print("thank you")

enter the marks :57
thank you

In [107]:
name='ashu'
clg='xyz'
marks=56
if clg=='xyz':
    if name=='ashu':
       print('ashus of xyz college got :',marks,'marks')

ashus of xyz college got : 56 marks

In [59]:
name="ashu"
clg="xyz"
marks=56
if clg == "xyz":
    if name == "ash":
        print("ashu of xyz college got :",marks,"marks")

In [47]:
x = 20
y = 45
z = 23
if x>y and x>z:
    print("x is greater")
else:
    if z>y:
        print("z is greater")
    else:
        print("y is greater")

y is greater

In [60]:
name="ashu"
clg="xyz"
marks=56
if clg == "xyz":
    if name == "ash":
        print("ashu of xyz college got :",marks,"marks")

In [61]:
for letter in "python ":
    print('character is',letter)

character is p
character is y
character is t
character is h
character is o
character is n
character is

In [66]:
for letter in "ashu  * akhil":
    print('character is',letter)

character is a
character is s
character is h
character is u
character is
character is
character is *
character is
character is a
character is k
character is h
character is i
character is l

In [78]:
for letter in [10,20,30]:
    print(letter)

10
20
30

In [84]:
for letter in [10,20,30,-26,0.34444]:
    if letter >25:
        print(letter,"greater than 25")
    else:
        print(letter,"less than 25")

10 less than 25
20 less than 25
30 greater than 25
-26 less than 25
0.34444 less than 25

In [93]:
count=1
while count <=5:
    print(count)
    count = count+1
    print("good bye")

1
good bye
2
good bye
3
good bye
4
good bye
5
good bye

In [98]:
# this ex of break statement
 
count=0
while count<=5:
    if count==10:
        break
    else:
        print(count)
    count=count+1
print("thank you")

0
1
2
3
4
5
thank you

In [103]:
for letter in "ashus":
    if letter == 'u':
        break
    else:
        print(letter)
print("thank you")

a
s
h
thank you

In [104]:
for letter in "ashus":
    if letter == 'u':
        continue
    else:
        print(letter)
print("thank you")

a
s
h
s
thank you

In [113]:
for count in "12345678910":
    if count == '7':
        break
    else:
        print(count)
print("good morning")

1
2
3
4
5
6
good morning

In [114]:
for count in "12345678910":
    if count == '7':
        continue
    else:
        print(count)
print("good morning")

1
2
3
4
5
6
8
9
1
0
good morning

In [118]:
var=10
while var > 0:
    var = var-1
    if var==3:
        continue
    print(var)
print("thanks")

9
8
7
6
5
4
2
1
0
thanks

In [126]:
animals = []
animals
animals = ["dog","monkey","pig"]
animals[1]

'monkey'

In [130]:
list1 = [10,20.4,"hello",43]
print(list1)

[10, 20.4, 'hello', 43]

In [140]:
list2 = [10,20,],[40,69]
list2
list2[1][1]

69

In [141]:
for num in [10,20,30,49]:
    print(num)

10
20
30
49

# list operations
* replace
* insert
* sort 
* delete
* append
* reverse

In [143]:
list1 = [10,20,40,5.6]
list1[2] = "ashu"     # replace operation
list1

[10, 20, 'ashu', 5.6]

In [144]:
list1 = [10,20,40,5.6]
list1.insert(2,"akhil")   #insert operation
print(list1)

[10, 20, 'akhil', 40, 5.6]

In [148]:
list1 = ["ashu","ammu","akka"]
list1.sort()
list1

['akka', 'ammu', 'ashu']

In [151]:
list2 = [10,65,20,23]
list2.sort()    # sort operations
list2

[10, 20, 23, 65]

In [152]:
del list2[1]
list2        # del operation

[10, 23, 65]

In [153]:
animals = ["lion","monkey","zebra"]
animals.append("dog")
animals

['lion', 'monkey', 'zebra', 'dog']

In [158]:
animals = ["lion","monkey","zebra"]
animals.reverse()    #reverse operation
animals

['zebra', 'monkey', 'lion']

In [162]:
fruits = ["apple","banana"]
print(fruits)

fruits[1] = "graps"
print(fruits)
 
fruits.insert(1,"orange")
print(fruits)


fruits.sort()
print(fruits)

del fruits[0]
print(fruits)

fruits.append("pappaya")
print(fruits)

fruits.reverse()
print(fruits)

['apple', 'banana']
['apple', 'graps']
['apple', 'orange', 'graps']
['apple', 'graps', 'orange']
['graps', 'orange']
['graps', 'orange', 'pappaya']
['pappaya', 'orange', 'graps']

In [161]:
fruits[1] = "graps"