In [3]:
n=input("Enter Number to calculate sum")
n=int(n)
sum=0
for num in range(0,n+1,1):
    sum=sum+num
print("SUM of first", n, "number is:", sum)

Enter Number to calculate sum15
SUM of first 15 number is: 120

In [4]:
# THE SUM OF FIRST n NATURAL NUMBER

# THE SUM OF FIRST  NATURAL NUMBER

In [5]:
n=input("Enter Number to calculate sum")
n=int(n)
sum=0
for num in range(0,n+1,1):
    sum=sum+num
print("SUM of first", n, "number is:", sum)

Enter Number to calculate sum12
SUM of first 12 number is: 78

In [6]:
n=input("Enter Number to calculate sum")
n=int(n)
sum=0
for num in range(0,n+1,1):
    sum=sum+num
print("SUM of first", n, "number is:", sum)

Enter Number to calculate sum12
SUM of first 12 number is: 78

# PYTHON PROGRAM TO CALCULATE AVERAGE

In [7]:
print("calculate an average of first n natural number ")
n=input("Enter number")
n=int(n)
averagae=0
sum=0
for num in range(0,n+1,1):
    sum=sum+num;
average=sum/n
print("Average of first ",n,"number is: ", average)

calculate an average of first n natural number
Enter number1@

ValueError: invalid literal for int() with base 10: '1@'

# SUM USING THE BUILT-IN SUM FUNCTION IN PYTHON

In [48]:
print("Sum of range of numbers: ",sum(range(1,3)))

Sum of range of numbers:  3

# PYTHON WHILE LOOP TO CALCULATE SUM AND AVERAGE

In [50]:
n=20
s=n
sum=0
while(n>=0):
      sum+=n
    n-+=1
print("sum using while loop ", sum)
average = sum / s
print("Average using a while loop ", average)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

# variable

In [51]:
a=10
b=20
c="ashu"
print(a)
print(b)
print(c)

10
20
ashu

In [52]:
print(a+b)

30

In [53]:
print(a*b)

200

In [54]:
print(c * 5)

ashuashuashuashuashu

In [55]:
print(c * 3)

ashuashuashu

In [56]:
a=b=c=d=15
print(a)

15

In [57]:
print(b)

15

In [58]:
print(c)

15

In [59]:
a=10
b=20
c=30.5
d="aswani"
print(a+c)

40.5

In [60]:
a="hello ashu"
print(a)

hello ashu

In [61]:
print (a * 5)

hello ashuhello ashuhello ashuhello ashuhello ashu

In [62]:

print("Enter the numbed" : )
print("even numbers":/2)

SyntaxError: invalid syntax (<ipython-input-62-23e1e7756bc2>, line 1)

In [63]:
c=[10,2.14,"ashu"]
print(c)

[10, 2.14, 'ashu']

In [64]:
print(c * 3)

[10, 2.14, 'ashu', 10, 2.14, 'ashu', 10, 2.14, 'ashu']

In [65]:
print(c[1:2])

[2.14]

In [66]:
d=22,4.5,"ammu"
print(c)

[10, 2.14, 'ashu']

In [67]:
print(c * 5)

[10, 2.14, 'ashu', 10, 2.14, 'ashu', 10, 2.14, 'ashu', 10, 2.14, 'ashu', 10, 2.14, 'ashu']

In [68]:
print(d[0:0])

()

In [69]:






print(d[0:2])

(22, 4.5)

In [70]:
e={"name":"ashu","id":100,"dept":"CSE"}
print(e)

{'name': 'ashu', 'id': 100, 'dept': 'CSE'}

In [71]:
print(e.keys())

dict_keys(['name', 'id', 'dept'])

In [72]:
print(e.values())

dict_values(['ashu', 100, 'CSE'])

# operators


* Arithmatic
* Relational
* Assignment
* Logical
* Member ship
* Identity
* Betwise

# Arithmatic

In [73]:
a=10
b=15
print(a+b)# addition

25

In [74]:
print(a-b)

-5

In [75]:
print(a*b)

150

In [76]:
print(a/b)
print(b/a)

0.6666666666666666
1.5

In [77]:
print(b%a)# remainder

5

In [78]:
print(a//b)

0

In [79]:
print(b//a)

1

In [80]:
print(22*2)

44

In [81]:
print(5**5)

3125

In [82]:
print(2**5)

32

In [83]:
print(4**2)

16

# Assignment

In [84]:
a = 10
print(a)

10

In [85]:
a = a+2

In [86]:
print(a)

12

In [87]:
a+=2

In [88]:
print(a)

14

In [89]:
a=10
a*=2
print(a)

20

In [90]:
a=10
a%=3

In [91]:
print(a)

1

In [92]:
a=10
a**=10
print(a)

10000000000

In [93]:
a=10
a/=2
print(a)

5.0

In [94]:
a=10
a//=2
print(a)

5

# if,if-else,if else-if

In [95]:
a=10
if a == 10: 
    print("Hi ashu")

Hi ashu

In [96]:
year=2020
      
if year%4==0:
    print("year is leap")
else:
    print("year is not leap")

year is leap

num=10   
if num%2 == 0:
print("even number")
else num%2 = 1:
print("odd number")

# loops


* for loop
* while loop

In [97]:
a=1
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [98]:
a=1
while a<11:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [99]:
a=1
for a in range(1,11):
    if a==6:
        break
    print(a)

1
2
3
4
5

In [100]:
a=1
for a in range(1,11):
    if a==6:
        continue
    print(a)

1
2
3
4
5
7
8
9
10

In [101]:
a=1
for a in range(1,11):
    if a==3:
        pass
    print("ashu")
    print(a)

ashu
1
ashu
2
ashu
3
ashu
4
ashu
5
ashu
6
ashu
7
ashu
8
ashu
9
ashu
10

In [102]:
a=1
for a in range(1,11):
    if a==6:
        pass
    print("HI")
    print(a)

HI
1
HI
2
HI
3
HI
4
HI
5
HI
6
HI
7
HI
8
HI
9
HI
10

# DATA TYPES

In [103]:
print(abs(-4.5))  # only print the positive number

4.5

In [104]:
import math
print(math.exp(100.12))

3.0308436140742566e+43

In [105]:
ceiland floor

SyntaxError: invalid syntax (<ipython-input-105-181372a32ef9>, line 1)

In [106]:
print(math.ceil(46.9))

47

In [107]:
print(math.floor(45.3))

45

In [108]:
print(math.pow(100,2))

10000.0

In [109]:
print(math.pow(5,5))

3125.0

In [110]:
print(math.sqrt(4))

2.0

In [111]:
print(max(22,33,44))

44

In [112]:
print(min(22,33,44))

22

In [113]:
print(max(22,33,0,0.4,-12))

33

In [114]:
print(min(22,33,0,0.4,-12))

-12

In [23]:
import random
tuple=(1,2,3,4,5)
print(random.choice(tuple))

1

In [24]:
import random
tuple=(1,2,3,4,5)
print(random.choice(tuple))

5

In [25]:
import random
tuple=(1,2,3,4,5)
print(random.choice(tuple))

4

In [26]:
print(random.random())

0.4492714988105252

In [27]:
print(random.randrange(1,11,2))

1

In [28]:
print(random.randrange(1,11,2))

9

print(random.uniform(2,20))

# string

In [31]:
name="ashu"
surname="thiragabathina"
print(name)
print(surname)

ashu
thiragabathina

In [32]:
print(len(name))

4

In [33]:
print(len(surname))

14

# concatenation

In [35]:
print(name + surname)

ashuthiragabathina

In [36]:
print(name*5)

ashuashuashuashuashu

In [38]:
print(name*5)

ashuashuashuashuashu

In [41]:
print(name[1:3])

sh

In [42]:
print(surname[3:7])

raga

In [1]:
tuple1=(1,3.14,"ashu")
print(list(tuple1))

[1, 3.14, 'ashu']

In [2]:
print(tuple1)

(1, 3.14, 'ashu')

In [6]:
list1=[95.88,666,35,44,112]
print(list1.index(44))

3

In [7]:
list1=[95.88,666,35,44,112,35,47,35]
print(list1)

[95.88, 666, 35, 44, 112, 35, 47, 35]

In [9]:
print(list1.count(35))

3

In [10]:
print(list1.count(111))

0

In [11]:
list1.insert(3,100)

In [12]:
print(list1)

[95.88, 666, 35, 100, 44, 112, 35, 47, 35]

In [13]:
list1.insert(200,100)

In [14]:
print(list1)

[95.88, 666, 35, 100, 44, 112, 35, 47, 35, 100]

In [15]:
list1=[22,44,33,99,66,88,77]
print(list1)

[22, 44, 33, 99, 66, 88, 77]

In [18]:
list1.reverse()
print(list1)

[77, 88, 66, 99, 33, 44, 22]

In [24]:
list1.sort()
print(list1)

[22, 33, 44, 66, 77, 88, 99]

In [22]:
list1.sort()
list1.reverse()
print(list1)

[99, 88, 77, 66, 44, 33, 22]

# RELATIONAL AND LOGICAL OPERATER

In [29]:
a=5
if a>10:
    print("condition is true")
else:
    print("comdition is false")

comdition is false

In [30]:
a=5
if a<=10:
    print("condition is true")

condition is true

In [32]:
a=10
if a>=10:
    print("condition is true")

condition is true

In [34]:
a=5
if a!=10:
    print("condition is true")

condition is true

In [39]:
a=5
if a%2==0:
    print("condition is true")
else:
    print("false")

false

In [45]:
x,y,z=7,5,9
if x>y and x>z:
    print("X is greaterthan y and z")
elif y>x and y>z:
else :
    print("Z is grteaterthan x and y") 
    print("Y is greaterthan y and z")

Z is grteaterthan x and y

In [46]:
x,y,z=7,5,9
if x>y or x>z:
    print("X is greaterthan y and z")

else :
    print("Z is grteaterthan x and y")

X is greaterthan y and z

In [115]:
x,y,z=7,8,9
if x>y and x<y:
    print("X is greaterthan y and z")
elif x<z or x>y:
    print("y is greaterthan x and z  ")

y is greaterthan x and z